<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
          initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">

    <title>Resaturante</title>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
  var body = $("body");
  var btnToTop=document.getElementById("arriba")
  btnToTop.addEventListener("click",()=>{
   body.animate({scrollTop:0}, '900');
  })
</script>


</head>
<footer>
    <div class="container-fluid col-form-label-lg alert-info">
      <div class="row">
          <div class="col-xs-12 col-md-6">
              <h6 class="text-muted lead">Desarrollado por:</h6>
              <h6 class="text-muted">
              David Carvajal Sulca<br>
              Ecuador-Quito-Pichincha- Cumbaya.<br>
              Teléfonos: 0995941719.<br>
              </h6>
          </div>
          <div class="col-xs-12 col-md-6">
          <div class="pull-right">
          <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                <div class="redes-footer">
                    <a href="https://www.facebook.com/"><img src="../../../assets/img/logo face.png" width="30" height="30"></a>
                    <a href="https://twitter.com/"><img src="../../../assets/img/logo tw.png"width="30" height="30"></a>
                    <a href="https://www.youtube.com/"><img src="../../../assets/img/logo you.png" width="30" height="30"></a>
                </div>
          </div>
          <div class="row"> <p class="text-muted small text-right">David Carvajal Sulca, desarrollador @2020.<br> Todos los derechos reservados.</p></div>
      </div>
    </div>  
  </div>
  <a  class="mr-2" href="#" id="arriba">Desplezarse Hacia Arriba</a>
  <script>
    var body = $("body");
    var btnToTop=document.getElementById("arriba")
    btnToTop.addEventListener("click",()=>{
     body.animate({scrollTop:0}, '900');
    })
  </script>
  </footer>
  
